apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: synthetics
  labels:
    app: synthetics
    component: database
spec:
  type: ClusterIP
  ports:
  - port: 5432
    targetPort: 5432
    protocol: TCP
    name: postgres
  selector:
    app: synthetics
    component: database
  sessionAffinity: None
